* {
  width: auto;
  height: auto;
  cursor: crosshair;
}
body {
  background-image: linear-gradient(rgb(255, 213, 213), rgb(160, 255, 160));
}
header {
  width: min-content;
  text-align: left;
  img:hover {
    opacity: 0.4;
  }
}
img {
  border-radius: 50px;
}
nav {
  border-left: 50%;
  text-align: right;
}
.menu {
  background-image: linear-gradient(to bottom right, rgb(244, 162, 243), rgb(125, 94, 239));
  text-align: right;
  font-size: 30px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
li:hover {
  opacity: 0.4;
}
h1 {
  text-align: center;
}
.pai {
  display: inline-block;
  justify-items: right;
  width: 1200px;
  text-align: center;
  align-items: center;
}
.pai img {
  width: 60%;
  height: fit-content;
}
.filho1,
.filho2 {
  text-align: justify;
  width: 350px;
  height: fit-content;
  display: inline-block;
  align-items: center;
}
article {
  display: inline-block;
  justify-items: right;
  width: 1200px;
  text-align: center;
  align-items: center;
}
.branca,
.fogo {
  text-align: justify;
  width: 350px;
  height: fit-content;
  display: inline-block;
  align-items: center;
  img:hover {
    opacity: 0.4;
  }
}
